@page "/topic/{id:int}/{slug}"
@using Microsoft.AspNetCore.Identity
@using System.Collections.Generic
@using BlazorForum.Pages.Components.Forums.SubComponents
@using BlazorForum.Pages.Components.TypingNotice

@inject HeadBuilderService head
@inject NavigationManager navManager
@inject IManageForumCategories manageForumCategories
@inject IManageForumTopics manageForumTopics
@inject IManageForums manageForums
@inject UserManager<ApplicationUser> userManager
@inject AuthenticationStateProvider authStateProvider
@inject IJSRuntime JSRuntime
@inject IManageUsers manageUsers
@inject ForumPostService forumPostService

<ul class="breadcrumb blazorforum-breadcrumb">
    <li class="breadcrumb-item">
        <a href="/forums/">Forums</a>
    </li>
    <li class="breadcrumb-item">
        @{
            var bc = category != null && category.Title != null ?
            String.Format("<a href=\"/category/{0}/{1}\">{2}</a>", category.ForumCategoryId,
            Domain.Utilities.Formatting.UrlFormatting.PrepareUrlText(category.Title), category.Title) : "";
            @((MarkupString)bc)
        }
    </li>
    <li class="breadcrumb-item">
        @(topic != null && topic.Title != null ? topic.Title : "")
    </li>
</ul>

@if (topic == null)
{
    <div class="mb-2 loading-div">
        <em><i class="oi oi-cog se-spin-icon"></i> @GeneralResources.Loading</em>
    </div>
}
else
{
    <div class="text-right">
        <TopicSubscriptionBtn Id="@id" CurrentUserId="@CurrentUserId" @ref="topicSubscriptionBtn" />
    </div>

    <ForumTopicHeader Topic="topic" />
    <section class="forum-topic-text-section">
        <Topic ThisTopic="@topic" ForumUpDownVoteEnabled="@forumUpDownVoteEnabled" CurrentUserId="@CurrentUserId" />
    </section>

    <Posts CurrentUserId="@CurrentUserId" Topic="@topic" ForumUpDownVoteEnabled="@forumUpDownVoteEnabled" Category="@category" IsSupportForum="@isSupportForum" />

    <TypingNotice TopicId="@id" CurrentUserId="@CurrentUserId" />
}

<section class="mt-4 mb-3">
    <h4>@GeneralResources.PostReply</h4>
    <AuthorizeView>
        <Authorized>
            <PostForm OnPostAdded="UpdatePostsAsync" TopicId="@id" CurrentUserId="@CurrentUserId" TopicSlug="@slug" />
        </Authorized>
        <NotAuthorized>
            <div class="alert alert-secondary">
                <span class="text-secondary">@GeneralResources.MustLoginToPost</span>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</section>


@code {
    [Parameter] public int id { get; set; }
    [Parameter] public string slug { get; set; }
    [Parameter] public string CurrentUserId { get; set; }
    Models.ForumCategory category;
    Models.ForumTopic topic;
    bool forumUpDownVoteEnabled = false;
    bool isSupportForum;
    protected TopicSubscriptionBtn topicSubscriptionBtn;

    protected override async Task OnInitializedAsync()
    {
        forumPostService.Id = id;

        await LoadTopicAsync();
        SetHeadData();

        category = await manageForumCategories.GetForumCategoryAsync(topic.ForumCategoryId);
        var forum = await manageForums.GetForumAsync(category.ForumId);
        forumUpDownVoteEnabled = forum.EnableUpDownVotes;
        isSupportForum = forum.IsSupportForum;

        CurrentUserId = await new Domain.Utilities.Membership.UserInfo(userManager, authStateProvider).GetUserId();
    }

    private async Task LoadTopicAsync()
    {
        topic = await manageForumTopics.GetForumTopicAsync(id);
        if (topic == null || topic.IsApproved != true || topic.IsDeleted == true)
            navManager.NavigateTo("/");

        var user = await userManager.FindByIdAsync(topic.UserId);
        topic.UserName = user.UserName;
    }

    // Fired from the PostForm component after a new post is added
    public async void UpdatePostsAsync()
    {
        await forumPostService.RefreshPostsAsync();

        topicSubscriptionBtn.RefreshButton();
    }

    private void SetHeadData()
    {
        head.Title = topic.Title;
        head.Description = topic.TopicText;
    }
}
