
@if (ForumPostService.Posts != null && ForumPostService.Posts.Count > 0)
{
    <ul class="forum-post-ul">
        @for (var i = 0; i < (ForumPostService.Posts.Count); i++)
        {
            <li>
                <Post CurrentUserId="@CurrentUserId" ForumUpDownVoteEnabled="@ForumUpDownVoteEnabled" ThisPost="@ForumPostService.Posts[i]" ForumId="Category.ForumCategoryId"></Post>
            </li>
        }
    </ul>
}

<div class="text-center">
    <button class="btn btn-blazorforum @ForumPostService.LoadMoreVisibility" @onclick="LoadMorePostsAsync">@GeneralResources.LoadMore</button>
</div>

@code {
    [Parameter] public string CurrentUserId { get; set; }
    [Parameter] public int Id { get; set; }
    [Parameter] public bool ForumUpDownVoteEnabled { get; set; }
    [Parameter] public Models.ForumCategory Category { get; set; }
    [Parameter] public ForumPostService ForumPostService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ForumPostService.Id = Id;

        await ForumPostService.LoadPostsAsync();
    }

    public async Task LoadMorePostsAsync()
    {
        await ForumPostService.LoadMorePostsAsync();
        StateHasChanged();
    }
}
